
<!--This is our home page. This is pre-sign in, welcome page-->
<!--TODO: Update this page pls-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ThreePointFive</title>
  <link rel="stylesheet" href="{% static 'import_styles/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles/alex.css' %}">
  <link rel="stylesheet" href={% static "styles/projects.css" %}>

  <script src="{% static 'import_styles/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'import_styles/dev_jquery-3.7.1.js' %}"></script>
</head>
<body>
  <div class="sidebar">
    <div class="logo">Alex Zheng</div>
    <div class="nav">
      <ul>
        <li><a href="#summary"><button class="nav-button">Summary</button></a></li>
        <li><a href="#resume"><button class="nav-button">Resume</button></a></li>
        <li><a href="#projects"><button class="nav-button">Projects</button></a></li>
        <li><a href="#contact"><button class="nav-button">Contact</button></a></li>
      </ul>
    </div>
    
  </div>

  <div class="content">
    <section id="summary">
      <div class="summary-div">
        <div class="socials">
          <a href="https://www.linkedin.com/in/alexzheng04/" target="_blank"><img src="{% static 'images/linkedin.png' %}" alt="LinkedIn"></a>
          <a href="https://github.com/smalex-z" target="_blank"><img src="{% static 'images/github.png' %}" alt="Github"></a>
          <a href="mailto:alexzheng2004@gmail.com" target="_blank"><img src="{% static 'images/mail.png' %}" alt="Mail"></a>
        </div>
        <p class="name">Alex Zheng</p>
        <h1 class="quote">Create a project not because you're already skilled, but because</h1>
        <h1 class="quote">you're willing to learn.</h1>
      </div>
    </section>
    <section id="resume">
      <div class="resume-div">
        <div class="resumeTitle-div">
          <h2>Resume</h2>
        </div>
        <div class="blurred-image-container">
          <img src="{% static 'images/az.png' %}" alt="Blurred Resume" class="blurred-image">
        </div>
        <div class="button-container">
          <button data-bs-toggle="modal" data-bs-target="#resumeModal">Preview</button>
          <a href="{% static 'images/az.png' %}" download="az.png">
            <button>Download</button>
          </a>
        </div>
      </div>
    </section>
    <section id="projects">
      
<div class="projects-div">
  <h1 class="header">Projects</h1>
  <div class="row border-box custom-row">
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="{% url 'project' %}">
          <h2>tinyCV.co</h2>
          <div class="project-image">
            <img src="../static/images/tinyCV.png" alt="Project 1">
          </div>
          <div class="project-details">
            AWS hosted site that provides a simple domain name for users to create and share their own personal websites on their resumes.
          </div>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="{% url 'project' %}">
          <h2>SureFasion</h2>
          <div class="project-image">
            <img src="../static/images/comingsoon.png" alt="Project 1">
          </div>
          <div class="project-details">
            Responsive Django web-application using HTML/CSS, Bootstrap, and JavaScript designed to allow users to curate wardrobes, explore outfits, and experiment with styles.
          </div>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="{% url 'project' %}">
          <h2>FitTogether</h2>
          <div class="project-image">
            <img src="../static/images/comingsoon.png" alt="Project 1">
          </div>
          <div class="project-details">
            Cross-platform fitness app utilizing the spaCy machine learning model to match like-minded individuals based on their fitness preferences and foster inclusivity.
          </div>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="{% url 'project' %}">
          <h2>Cooking 101</h2>
          <div class="project-image">
            <img src="../static/images/comingsoon.png" alt="Project 1">
          </div>
          <div class="project-details">
            Coming soon!
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
    </section>
    <section id="contact">
      <div class="contact-div">
        <h2>Contact me!</h2>
        <!-- Contact content goes here -->
        <button>Press This!</button>
        <button>or This!</button>
      </div>
    </section>
  </div>

  <script src="{% static 'javascript/home.js' %}"></script>

  <div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="resumeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="resumeModalLabel">Resume Preview</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <!-- Add your resume content here -->
             <div class="modal-body">
              <img src="{% static 'images/az.png' %}" alt="Resume Image" class="img-fluid">
           </div>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <!-- Add any additional buttons or functionality here -->
          </div>
       </div>
    </div>
 </div>
</body>
</html>