
<!--This is our home page. This is pre-sign in, welcome page-->
<!--TODO: Update this page pls-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyCv.co</title>
  <link rel="stylesheet" href="{% static 'import_styles/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles/base.css' %}">
  <link rel="stylesheet" href="{% static 'styles/contact.css' %}">
  <link rel="stylesheet" href="{% static 'styles/summary.css' %}">
  <link rel="stylesheet" href="{% static 'styles/resume.css' %}">

  <link rel="stylesheet" href={% static "styles/projects.css" %}>
  

  <script src="{% static 'import_styles/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'import_styles/dev_jquery-3.7.1.js' %}"></script>
</head>
<body>
  <div class="sidebar">
    <div class="logo">UCLA</div>
    <div class="nav">
      <ul>
        <li><a href="#summary"><button class="nav-button">Summary</button></a></li>
        <li><a href="#resume"><button class="nav-button">Resume</button></a></li>
        <li><a href="#projects"><button class="nav-button">Projects</button></a></li>
        <li><a href="#contact"><button class="nav-button">Contact</button></a></li>
      </ul>
    </div>
    
  </div>

  <div class="content">
    <section id="summary">
      <div class="summary-div">
        <div class="socials">
          <a href="https://www.linkedin.com/in/alexzheng04/" target="_blank"><img src="{% static 'images/linkedin.png' %}" alt="LinkedIn"></a>
          <a href="https://github.com/smalex-z" target="_blank"><img src="{% static 'images/github.png' %}" alt="Github"></a>
          <a href="mailto:alexzheng2004@gmail.com" target="_blank"><img src="{% static 'images/mail.png' %}" alt="Mail"></a>
        </div>
        <p class="name">Name</p>
        <h1 class="quote">Some Inspirational Summary</h1>
        <h1 class="quote">hihihiihihi</h1>
      </div>
    </section>
    <section id="resume">
      <div class="resume-div">
        <div class="col-7 resumeTitle">
          <h2>About Me</h2>
          <div class = "aboutme">
          <p>Hello! I'm Alex and I'm from Frederick Maryland - a small town about an hour north of Washington DC. I graduated with an 
            International Baccalaureate (IB) diploma from Urbana High School. I am now an undergraduate Computer Science student at UCLA 
            with Junior standing with a planned graduation in 2026.</p> <p>I spent the last two summers working as a Software Developer Intern 
            at the National Institute of Standards and Technology Center for Neutron Research (NCNR) in Gaithersburg Maryland, where I 
            primarily developed a neutron scattering simulation program.</p> <p>What sets me apart from my peers is that I am not afraid 
            of venturing  into new fields and learning new skills. Too often you will see students declining projects or opportunities because 
            they've never learned these such skill before- in contrast I embark on projects with the goal of learn the skills. This 
            mindset has been the key to opening many opportunities for me in both my personal life and at UCLA.</p>
          </div>
        </div>
        <div class="col-5 resumePreview">
          <div class="blurred-image-container">
            <img src="{% static 'images/az/az.png' %}" alt="Blurred Resume" class="blurred-image">
          </div>
          <div class="button-container">
            <button data-bs-toggle="modal" data-bs-target="#resumeModal" style="width: 30%;">Preview</button>
            <a href="{% static 'images/az/Alex_Zheng_Resume.pdf' %}" download="Alex_Zheng_Resume.png" style="width: 30%;">
              <button style="width: 100%;">Download</button>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="projects">
      
<div class="projects-div">
  <h1 class="header">Projects</h1>
  <div class="row border-box custom-row">
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="{% url 'project' %}">
          <h2>Project Title</h2>
          <div class="project-image">
            <img src="../static/images/comingsoon.png" alt="Project 1">
          </div>
          <div class="project-details">
            Coming soon!
          </div>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="{% url 'project' %}">
          <h2>Project Title</h2>
          <div class="project-image">
            <img src="../static/images/comingsoon.png" alt="Project 1">
          </div>
          <div class="project-details">
            Coming soon!
          </div>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="{% url 'project' %}">
          <h2>Project Title</h2>
          <div class="project-image">
            <img src="../static/images/comingsoon.png" alt="Project 1">
          </div>
          <div class="project-details">
            Coming soon!
          </div>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="{% url 'project' %}">
          <h2>Project Title</h2>
          <div class="project-image">
            <img src="../static/images/comingsoon.png" alt="Project 1">
          </div>
          <div class="project-details">
            Coming soon!
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
    </section>
    <section id="contact">
      <div class="contact-div">
        <div class="container">
          <div class="content">
            <div class="left-side">
              <div class="address details">
                <div class="topic">Address</div>
                <div class="text-one">330 De Neve Dr, Rieber Hall Room 629</div>
                <div class="text-two">Los Angeles, California</div>
              </div>
              <div class="phone details">
                <div class="topic">Phone</div>
                <div class="text-one">+1 (123) 456-7890</div>
              </div>
              <div class="email details">
                <div class="topic">Email</div>
                <div class="text-one">email@gmail.com</div>
              </div>
            </div>
            <div class="right-side">
              <div class="topic-text">Send me a message</div>
              <p>If you want to contact me, here is the place.</p>
            <form action="#">
              <div class="input-box">
                <input type="text" placeholder="Enter your name">
              </div>
              <div class="input-box">
                <input type="text" placeholder="Enter your subject-line">
              </div>
              <div class="input-box message-box">
                <textarea name="text" rows="14" cols="10" wrap="soft" placeholder="Message:"></textarea>
              </div>
              <a target="_blank" href="mailto:alexzheng2004@gmail.com?subject=Contact%20Form&body=Name:%20%0D%0A%0D%0AEmail:%20%0D%0A%0D%0AMessage:%20">
                <div class="button">
                  <input type="button" value="Send Now">
                </div>
              </a>
            </form>
          </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="{% static 'javascript/base.js' %}"></script>

  <div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="resumeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="resumeModalLabel">Resume Preview</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <!-- Add your resume content here -->
             <div class="modal-body">
              <iframe 
                src="{% static 'images/az/Alex_Zheng_Resume.pdf' %}" 
                width="100%" 
                height="600px" 
                style="border: none; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); outline: none;"
              ></iframe>
           </div>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <!-- Add any additional buttons or functionality here -->
          </div>
       </div>
    </div>
 </div>
</body>
</html>