<!--This is our home page. This is pre-sign in, welcome page-->
<!--TODO: Update this page pls-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ThreePointFive</title>
  <link href={% static "import_styles/bootstrap.min.css" %} rel="stylesheet" />
  <link rel="stylesheet" href={% static "styles/home.css" %}>


  <script src={% static "import_styles/bootstrap.bundle.min.js" %}></script>
  <script src={% static "import_styles/dev_jquery-3.7.1.js" %}></script>


</head>

<body>
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="logo">UCLA</div>
      <nav class="nav">
        <div class="progress-bar">
          <span class="circle"></span>
          <a href="#summary" class="nav-link">Summary</a>
          <span class="circle"></span>
          <a href="#resume" class="nav-link">Resume</a>
          <span class="circle"></span>
          <a href="#projects" class="nav-link">Projects</a>
          <span class="circle"></span>
          <a href="#contact" class="nav-link">Contact</a>
        </div>
      </nav>

    </div>
  </div>

  <div class="content">
    <section id="summary">
      <div class="summary-div">
        <div class="socials">
          <a href="https://www.linkedin.com/in/alexzheng04/" target="_blank"><img src={% static "images/linkedin.png" %} alt="LinkedIn"></a>
          <a href="https://github.com/smalex-z" target="_blank"><img src={% static "images/github.png" %} alt="Github"></a>
          <a href="https://www.linkedin.com/in/kevinsun05/" target="_blank"><img src={% static "images/mail.png" %} alt="Mail"></a>

        </div>
        <p class="name">Kevin Sun</p>
        <h1>Some Personal Statement</h1>
      </div>
    </section>
    <section id="resume">
      <div class="resume-div">
        <h2>Resume</h2>
        <!-- Resume content goes here -->
        <button>Preview</button>
        <button>Download</button>
      </div>
    </section>
    <section id="projects">
      <div class="projects-div">
        <h1>Projects</h1>
        <p>Soemthing about projects here!</p>
      </div>
    </section>
    <section id="contact">
      <div class="contact-div">
        <h2>Contact me!</h2>
        <!-- Resume content goes here -->
        <button>Press This!</button>
        <button>or This!</button>
      </div>
    </section>
  </div>

  <script src={% static "javascript/home.js" %}></script>
</body>

</html>