<div class="projects-div">
  <h1>Projects</h1>
  <div class="project-box">
      <p>Project 1</p>
      <a target="_blank" href="https://www.w3schools.com">
          <img src="../static/images/buck.png" alt="Project 1">
          <div class="overlay">
              <span>Visit Project 1</span>
          </div>
      </a>
  </div>
  <div class="project-box">
      <p>Project 2</p>
      <a target="_blank" href="https://www.youtube.com/">
          <img src="../static/images/fashion.png" alt="Project 2">
          <div class="overlay">
              <span>Visit Project 2</span>
          </div>
      </a>
  </div>
</div>
