<div class="projects-div">
  <h1 class="header">Projects</h1>
  <div class="row border-box custom-row">
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="https://www.w3schools.com">
          <h2>Some Title</h2>
          <img src="../static/images/buck.png" alt="Project 1">
        </a>
        <div class="project-details">
          idk man write some stuff here ig
      </div>
      </div>
    </div>
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="https://www.w3schools.com">
          <h2>Some Title</h2>
          <img src="../static/images/buck.png" alt="Project 1">
        </a>
        <div class="project-details">
            idk man write some stuff here ig
        </div>
      </div>
    </div>
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="https://www.w3schools.com">
          <h2>Some Title</h2>
          <img src="../static/images/buck.png" alt="Project 1">
        </a><div class="project-details">
          idk man write some stuff here ig
      </div>
      </div>
    </div>
    <div class="card">
      <div class="project-box project1">
        <a target="_blank" href="https://www.w3schools.com">
          <h2>Some Title</h2>
          <img src="../static/images/buck.png" alt="Project 1">
        </a>
        <div class="project-details">
          idk man write some stuff here ig
      </div>
      </div>
    </div>
  </div>
</div>