<div class="projects-div">
  <h1>Projects</h1>
  <div class="project-box">
    <a href="https://www.w3schools.com" class="btn">Project 1</a>
      <a target="_blank" href="https://www.w3schools.com">
          <img src="../static/images/buck.png" alt="Project 1">
          <div class="overlay">
          </div>
      </a>
  </div>
  <div class="project-box">
    <a href="https://www.youtube.com/" class="btn">Project 2</a>
      <a target="_blank" href="https://www.youtube.com/">
          <img src="../static/images/fashion.png" alt="Project 2">
          <div class="overlay">
          </div>
      </a>
  </div>
</div>