
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  background-color: #121212bb;
  width: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  transition: transform 0.3s ease-in-out, padding-left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  background-image: url("../images/bg.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 24px;
  background-color: #121212e1;

}

.nav {
  flex-grow: 1; /* Allow the nav to take up the remaining space in the sidebar */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
}

.nav ul {
  list-style: none;
  padding: 0;
  flex-grow: 1; /* Allow the nav to take up the remaining space in the sidebar */
  display: flex;
  flex-direction: column;
  margin: 0; /* Remove default margin to avoid spacing issues */
}

.nav li {
  flex-grow: 1; /* Allow the nav to take up the remaining space in the sidebar */
  display: flex;
  flex-direction: column;
}

.nav li a{
  flex-grow: 1; /* Allow the nav to take up the remaining space in the sidebar */
  display: flex;
  flex-direction: column;
  text-decoration: none; 
}

.nav-button {
  width: 100%; /* Each button spans the entire width of the parent <li> */
  background-color: #121212e1;
  color: white;
  display: flex;
  border: none;
  flex-grow: 1; /* Allow the nav to take up the remaining space in the sidebar */
  justify-content: left;
  font-size: large;
  padding: 10px;
  padding-left: 30px;
  cursor: pointer;
  font-size: 4vh;
  transition: all 0.5s ease; /* Add transition for all properties with a duration of 0.5s and ease timing function */
  align-items: center; 

}

.nav-button.scrolled {
  justify-content: center;
  padding-left: 10px;
  transition-delay: 0.2s; /* Delay the transition for .des.scrolled by 0.2s */

}


.nav-button img{
  width: 4vw;
  height: 4vw;
}

.des{
  margin-top: 10px;
  margin-left: 15px;
  transition: all 0.5s ease; /* Add transition for all properties with a duration of 0.5s and ease timing function */
}

.des.scrolled {
  display: none;
  transition-delay: 0.2s; /* Delay the transition for .des.scrolled by 0.2s */

}

.nav-button:hover {
  background-color: #222222; /* Change the background color on hover */
}

.nav-button.active {
  background-color: #424242; /* Change to the desired active button color */
  color: white; /* You can also adjust the text color */
}


.content {
  margin-left: 400px;
  color: white;
  height: 200%; /* for demonstration purposes */
  transition: margin-left 0.3s ease-in-out ;
  
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping on the body */
  overflow-y: scroll; /* Hide scrollbars */
  scroll-behavior: smooth;
}

/* When the user scrolls down, shrink the sidebar */
.sidebar.scrolled {
  transform: translateX(-200px);
  padding-left: 200px;
}

/* Adjust the content margin when sidebar is collapsed */
.content.scrolled {
  margin-left: 200px;
}

