body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.sidebar {
  background-color: #121212;
  width: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 24px;
}

.nav .nav-link {
  display: block;
  color: #ddd;
  padding: 16px;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}

.nav .nav-link:hover {
  background-color: #575757;
  color: white;
}

.progress-bar {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  margin-bottom: 10px;
}

.content {
  margin-left: 400px;
  color: white;
  height: 200%; /* for demonstration purposes */
  transition: margin-left 0.3s ease-in-out;

}

.summary-div{
  height: 100vh;
}

.resume-div {
  height: 100vh;
  scroll-snap-align: start; /* Snap each section to the start of the viewport */
  background-color: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content at the top */
}

.resumeTitle-div {
  height: 7.5vh;
  background-color: #383838;
  text-align: left;
}

.blurred-image-container {
  height: 85%;
  width: 70%; /* Adjust the width as needed */
  margin: 0 10%; /* Adjust the margins */
  overflow: hidden;
}

.blurred-image {
  max-width: 100%;
  height: auto;
  width: auto;
  filter: blur(2px);
}

.button-container {
  margin-top: 20px; /* Adjust the margin as needed */
}

.projects-div{
  height: 100vh;
  background-color: #000000;
}

.contact-div{
  height: 100vh;
  background-color: #222222;
}

/* When the user scrolls down, shrink the sidebar */
.sidebar.scrolled {
  transform: translateX(-200px);
}

/* Adjust the content margin when sidebar is collapsed */
.content.scrolled {
  margin-left: 200px;
}
  
  .sidebar {
    background-color: #121212;
    width: 400px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    transition: transform 0.3s ease-in-out, padding-left 0.3s ease-in-out;
  }
  
  .logo {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 24px;
  }
  
  .nav .nav-link {
    color: #ddd;
    padding: 16px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
  }
  
  .nav .nav-link:hover {
    background-color: #575757;
    color: white;
  }
  
  .progress-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .content {
    margin-left: 400px;
    color: white;
    height: 200%; /* for demonstration purposes */
    transition: margin-left 0.3s ease-in-out ;
    
    scroll-snap-type: y mandatory; /* Enable vertical scroll snapping on the body */
    overflow-y: scroll; /* Hide scrollbars */
  
  }
  
  .content h1, .content h2 {
    color: white;
  }
  
  .summary-div{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: right;
    padding: 20px;
    scroll-snap-align: start; /* Snap each section to the start of the viewport */
  
  }
  
  .socials{
    flex-direction: row;
    display: flex;  
    justify-content: center;
  }
  
  .socials a, .socials img {
    height: 30px;
    width: 30px;
    margin: 15px;
  }
  
  .name{
    font-size: 180px;
    font-weight: bold;
    margin-top: 20vh;
    margin-bottom: -30px;
  }
  
  
  .projects-div{
    height: 100vh;
    background-color: #000000;
    scroll-snap-align: start; /* Snap each section to the start of the viewport */
  
  }
  
  .contact-div{
    height: 100vh;
    background-color: #222222;
    scroll-snap-align: start; /* Snap each section to the start of the viewport */
  
  }
  
  /* When the user scrolls down, shrink the sidebar */
  .sidebar.scrolled {
    transform: translateX(-200px);
    padding-left: 200px;
  }
  
  /* Adjust the content margin when sidebar is collapsed */
  .content.scrolled {
    margin-left: 200px;
  }
  