.projects-div{
  height: 100vh;
  background-color: #000000;
  scroll-snap-align: start; /* Snap each section to the start of the viewport */
  padding: 20px;
  background-image: url("../images/base/bg.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  height: 10vh;
  /* Other styles for the header */
}
.custom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 90vh; /* Remaining height after the header */
  padding: 10px; /* Padding around the container */
  margin-top: -40px; /* Offset for the header */

}

.projects-div h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}

.card {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border-radius: 0px;
  border: 1px solid #f0f0f0;  /* 1px wide grey border */
  width: calc((80vw - 440px) / 3); /* Subtract total horizontal padding/margin and divide by the number of blocks per row */
  height: calc(((80vw + 100px) / 3)); /* Same as width to maintain square shape */
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.project-box {
  flex-grow: 1;;
  display: flex;
  flex-direction: column;
  min-height: 0; /* Allow .project-box to shrink if needed */

}

.project-box a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent content from overflowing */
  flex-grow: 1;
}

.project-box h2 {
  margin: 10px;
  flex-grow: 0;
}

.project-image{
  flex-grow: 1;
  min-height: 0; /* Prevent the image from stretching larger than its flex container */
  height: calc(100% - 200px); /* 200px = 50px (header) + 150px (footer) */
}

.project-box img {
  padding: 10px;
  object-fit: cover; /* Cover the area without stretching */
  object-position: top; /* Align the top part of the image with the container */
  height: 100%;
  width: 100%;
}

.project-details {
  height: 135px; /* Fixed height for the details section */
  background-color: rgb(224, 224, 224);
  text-align: left;
  color: rgb(0, 0, 0);
  flex-grow: 0;
  padding: 10px; /* Maintain internal spacing */
}



.card:hover {
  transition: transform 0.3s ease-in-out;

  transform: scale(1.1);
  cursor: pointer;
}

