
.resume-div {
    height: 100vh;
    background-color: #383838;
    scroll-snap-align: start; /* Snap each section to the start of the viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content at the top */
  }
  
  .resumeTitle-div {
    height: 7.5vh;
    background-color: #383838;
    text-align: left;
    width: 100%;
    margin: 10px 0 5px 0;
    padding: 0 10px ;
  }
  
  .blurred-image-container {
    height: 75%;
    width: 70%; /* Adjust the width as needed */
    margin: 0 10%; /* Adjust the margins */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .blurred-image {
    max-width: 100%;
    height: auto;
    filter: blur(2px);
  }
  
  .button-container button{
    margin: 25px 10px 0 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    width: 150px;
  }
  .button-container button:hover{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
  }
  
  .button-container button:active{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
  }

  .modal-dialog {
    max-width: 60%; /* You can adjust this value to your desired width */
  }

  .modal-body{
    padding: 5px 10px 5px 10px;
  }