.summary-div{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: right;
    padding: 20px;
    scroll-snap-align: start; /* Snap each section to the start of the viewport */
    background-image: url("../images/bg.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .socials{
    flex-direction: row;
    display: flex;  
    justify-content: center;
  }
  
  .socials a, .socials img {
    height: 30px;
    width: 30px;
    margin: 15px;
  }
  
  .name{
    font-size: 9vw;
    font-weight: bold;
    margin-top: 20vh;
    margin-bottom: -20px;
    margin-right: 10px;
  }

  .quote{
    font-size: 2.3vw;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;

  }