.summary-div{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: right;
    padding: 25px;
    scroll-snap-align: start; /* Snap each section to the start of the viewport */
    background-image: url("../images/base/bg.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins", sans-serif;
  }
  
  .socials{
    flex-direction: row;
    display: flex;  
    justify-content: center;
  }
  
  .socials a, .socials img {
    height: 2.5em;
    width: 2.5em;
    margin: .5em 1.25em 0 1.25em;
  }

  .socials a:hover, .socials img:hover {
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.8)); /* White glow only around the visible parts */
  }


  
  .name{
    font-size: 9vw;
    font-weight: bold;
    margin-top: 20vh;
    margin-bottom: -10px;
    margin-right: 10px;
  }

  .quote{
    font-size: clamp(1.5rem, 2.1vw, 3rem);
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 0;
    max-width: 90%;
    white-space: normal;
    align-self: flex-end;
  }